body {
    /*background: url("http://api.btstu.cn/sjbz/?lx=dongman");*/
    background-image: url("https://www.dmoe.cc/random.php") !important;
    background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position-x:center;
}

#app {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.el-form {
    padding: 50px 130px 100px 50px;
    background: rgba(213,227,227,0.5);
    border-radius: 30px;
}

.el-form > p {
    text-align: center;
    font-size: xx-large;
    padding: 0 0 20px 90px;
}

.el-button {
    margin-left: 110px;
    width: 120px;
}